head

    link(href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(type='text/css' rel='stylesheet' href='./materialize/css/materialize.min.css')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    style(type="text/css").

body

  div(class='container')
    div(class='row')
      div(class='col s1')
        div(class='card-panel teal lighten-2')
          h1 Elise Rodrigues

  script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(type='text/javascript' src='./materialize/js/materialize.min.js')
